
 @import url('https://fonts.cdnfonts.com/css/league-spartan');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;        
}
header{
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
}
header div{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div a{
    text-decoration: none;
    font-weight: bold;
    color: #5ce1e6;
}
.body{
    padding: 5em;
}
.body h1{
    color: #5ce1e6;
    text-align: center;
}
.body p{
    color: #c1ff72;
    font-weight: bold;
    text-align: center;
    margin: 3em;
}
.body form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.body form ul li{
    list-style-type: none;
}